@import url('news.css');
@import url('menu.css');
@import url('aquarium.css');

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Navigation styles
   ========================================================================== */
div.logo { margin: 1.3em 0; }
.nav-light,
.nav-dark { position: fixed; left: 60px; top: 0; z-index: 9999; height: 340px; overflow: hidden; }
.nav-containter { position: relative; }
.navigationLinksList { margin: 2em 0 0 0; padding: 0; }
.navigationLinksList .navigationLink { text-align: left; padding-left: 3em; }
.nav-light .navigationLink a { display: block; width: 130px; margin: 0; padding: 0 0 0.55em 0; color: #FFF; font-size: 1.15em; font-weight: 500; text-decoration: none; outline: none;}
.nav-dark .navigationLink a { display: block; width: 130px; margin: 0; padding: 0 0 0.55em 0;  color: #535353; font-size: 1.15em; font-weight: 500; text-decoration: none; outline: none;}
.nav-light .logo { width: 130px; height: 162px; text-indent: -9999px; background: url('../img/white_logo.png') 0 60px no-repeat; }
.nav-dark .logo { width: 130px; height: 162px; text-indent: -9999px; background: url('../img/color_logo.png') 0 60px no-repeat; }
.selected { border: 1px solid black; background: url('../img/anchor.png'); }
.nav-dark .anchor, .nav-light .anchor { width: 20px; height: 21px; background: url('../img/anchor.png') no-repeat; position: fixed; top: 201px; left: 60px; } 

/* ==========================================================================
   Main site styles
   ========================================================================== */

html, body { width: 100%; height: 100%; min-height: 100%; font: 12px "ff-meta-web-pro", "futura-pt", sans-serif; padding: 0; margin: 0; color: #353535; }
body { overflow: auto; }

/*section:first-child {opacity: 0.2;}*/
#news { top: 2400px; }

#skrollr-body { min-height: 100%; position: relative; }
#skrollr-body > section { min-height: 100%; width: 100%; background: #fff; overflow: hidden; position: fixed; }
#skrollr-body > section header { width:64em; position: absolute; top: 2em; right: 2em; z-index: 99; text-align: right; }
#skrollr-body > #contacts header { top: 12.5em; }
section header h2 { font-size: 2.5em; line-height: 1.57em; font-weight: normal; }
section header h2 span { background: #000; padding: 0 0.25em; color: #fff; text-transform: uppercase; font-style: normal; }
#contacts header h2 span { background: #fff; color: #353535; }

.container { width: 74em; margin: 0 auto; }
/*#news, #restaurant-info { padding: 1em 0 4em; }*/

.list-title { font-size: 1.4em; font-weight: bold; line-height: 1em; }
	.list-title a { font-size: 0.7em; text-transform: uppercase; text-decoration: none; color: #717171; font-weight: normal; float: right; display: block; }
	.list-title a:hover { color: #212121; }
.events-list { width: 50em; float: left; margin-right: 2em;/* margin-left: 0em; */}
	.events-list .event-title { text-transform: uppercase; font-size: 1.6em; padding-left: 0.5em; margin: 0 0 1.75em; }
		.events-list .event-title .date { float: right; padding-top: 0.4em; }

.events-item { border-top: 3px solid #d8df50; margin: 1em 0; padding: 0.5em 0; height: 30em; overflow: hidden; }
.events-item figure { width: 15em; float: left; margin: 0 3em 0 1em; }
.events-item figure img.avatar { -moz-border-radius: 15em; -webkit-border-radius: 15em; border-radius: 15em;}
.events-item img {max-width: 100%; }
.events-item .event-text { width: 30em; float: left; }
	.event-text h3 { font-weight: normal; text-transform: uppercase; font-size: 3em; letter-spacing: -1px; line-height: 1em; margin: 0 0 0.5em; }
		.event-text h3 a { text-decoration: none; color: #313131; }
		.event-text h3 a:hover { text-decoration: underline; }
	.event-text .tags,
	.news .tags { background: #e18c44; display: inline-block; color: #fff; font-size: 1.1em; padding: 0.1em 0.75em 0.25em; }
	.event-text p { font-size: 1.1em; margin-bottom: 1.5em; }
	
.news-list { width: 22em; float: left; }
.news-item { border-top: 3px solid #bcdfef; margin: 1em 0; padding: 0.5em 0; height: 30em; overflow: hidden; }
.news-date { text-transform: uppercase; font-size: 1.2em; margin: 0.9em 0 1.75em; }
.news-item h3 { text-transform: uppercase; font-size: 1.6em; margin: 2.1em 0 1.05em; font-weight: normal; line-height: 1em; }
.news-item h3 a:hover { text-decoration: underline; }
.news-item .read-more { color: #75200d; font-size: 1.1em; display: none; }
.news-item p { font-size: 1.1em; margin-bottom: 1em; }
.menu-body-back .menu-header > h2 > span { border-color: #000; color: #000; }

.container > h2 { text-align: center; font-size: 2.6em; text-transform: uppercase; margin: 1em 0 1.75em; padding: 0; }
.container > h2 > span { font-weight: normal; display: inline-block; border: 3px solid; padding: 0 0.25em; width: 9.5em; }

.rest-list { width: 50em; float: left; margin-right: 2em; /*margin-left: 20em; */padding: 0; list-style: none; }
.rest-item { margin: 1em 0 0; height: 22em; overflow: hidden; }
.rest-item figure { width: 15em; float: left; margin: 0 3em 0 1em; }
.rest-item figure img.avatar { -moz-border-radius: 15em; -webkit-border-radius: 15em; border-radius: 15em;}
.rest-item img { max-width: 100%; }
.rest-item .rest-text { width: 30em; float: left; }
	.rest-text h3 { font-weight: normal; text-transform: uppercase; font-size: 2.7em; letter-spacing: -1px; line-height: 1.15em; margin: 0 0 0.75em; }
	.rest-text .tags { background: #e18c44; display: inline-block; color: #fff; font-size: 1.1em; padding: 0.1em 0.75em 0.25em; }
	.rest-text p { font-size: 1.1em; margin-bottom: 1.5em; }
	

.current-link {
	background: #FFF;
	height: 1.4em;
}
.current-link > div {
	visibily: hidden;
}

.menu-list { width: 22em; float: left; }
.menu-item { margin: 0; padding: 0.5em 0; height: 22em; overflow: hidden; text-align: center; }
.menu-item a { display: inline-block; text-decoration: none; color: #1b1b1b; text-transform: uppercase; }
.menu-item a img { display: block; max-width: 11.33333333em; margin: 0 auto;}
.menu-item a span { display: block; font-size: 1.3em; margin: 1em 0 0; }

#restaurant-info .menu-item:first-child a span { display: block; font-size: 1.3em; margin: -1em 0 0; }

.pool-temperature { width: 50em; float: left; margin-left: 19em; }
.pool-temperature .column { float: left; width: 3em; font-size: 5em; line-height: 0.75em; }
.pool-temperature .column span { display: block; font-size: 0.3em; }

#map-canvas { width: 100%; height: 735px; }
.back-forward-links { width: 95px; height: 18px; margin: 0 auto; }
.back-forward-links-list { width: 120px; padding: 0; }
.back-forward-links-list-item { margin: 0 5px; float: left;}
.back-forward-links-list-item mainmenu{ width: 18px; height: 18px; }
.back-forward-links-list-item back,
.back-forward-links-list-item forward{ width: 22px; height: 18px; }

footer { background: #333; height: 6em; position: fixed; bottom: 0; color: #fff; line-height: 6em; font-size: 1.1em; width: 100%; }
footer .copy { float: left; width: 50%; }
footer .dev { float: right; width: 50%; text-align: center; }
footer a { color: #bcdfef; }

/* ==========================================================================
   Fotorama styles
   ========================================================================== */

.fotorama__thumbs { position: absolute; bottom: 25%;  }
.fotorama__thumb__dot { background: #CCC; width: 9px; height: 9px; border-radius: 9px; }
.arrows { height: 148px; width: 50px; float: left; }
.right_arrow { background: url("../img/arrows2.png") no-repeat scroll -50px 0 transparent; }
.left_arrow { background: url("../img/arrows2.png") no-repeat scroll 0 0 transparent; }
.fotorama__arr_next { top: 70%; left: 75%; }
.fotorama__arr_prev { top: 70%; left: 25%; }


/* ==========================================================================
   Card CSS3 styles
   ========================================================================== */

.card { position: relative; text-align: center; width: 15em; height: 15em; cursor: default; -webkit-perspective: 1000px; -moz-perspective: 1000px; -ms-perspective: 1000px; -o-perspective: 1000px; perspective: 1000px; }

.card__back, .card__front {
	position: absolute; top: 0; left: 0; 
	-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; 
	-webkit-transition: -webkit-transform 0.4s ease-out, opacity 0.3s ease-out; -moz-transition: -moz-transform 0.4s ease-out, opacity 0.3s ease-out; -o-transition: -o-transform 0.4s ease-out, opacity 0.3s ease-out; transition: transform 0.4s ease-out, opacity 0.3s ease-out;
	/*-webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; -o-transform-style: preserve-3d; transform-style: preserve-3d; */
}
.card__front {
width: 100%;
	opacity: 1;
	-webkit-transform: rotateY(0deg) translateZ(0); -moz-transform: rotateY(0deg); -ms-transform: rotateY(0deg); -o-transform: rotateY(0deg); transform: rotateY(0deg);
}

.card__back { 
	top: 50%; left: 50%; opacity: 1;
	-webkit-transform: rotateY(-180deg) translateZ(0); -moz-transform: rotateY(-180deg); -ms-transform: rotateY(-180deg); -o-transform: rotateY(-180deg); transform: rotateY(-180deg); 
}
.card:hover .card__back {
	opacity: 1;
	-webkit-transform: rotateY(0deg) translateZ(0); -moz-transform: rotateY(0deg); -ms-transform: rotateY(0deg); -o-transform: rotateY(0deg); transform: rotateY(0deg); 
}
.card__back .back__circle { background: #fff; width: 12em; height: 12em; -webkit-border-radius: 12em; -moz-border-radius: 12em; border-radius: 12em; text-align: center; top: 50%; left: 50%; margin: -6em 0 0 -6em; }
.card__back .back__circle .back__age { font-size: 3.5em; padding: 0.35em 0 0; }
.card__back .back__circle .back__time { font-size: 1.3em; text-transform: uppercase; line-height: 1.1em; padding: 0.1em 0; }
.card__back .back__circle .back__price { font-size: 1.3em; font-weight: bold; }

.rest-item .rest-content .back__age { font-size: 1.5em; padding: 1.55em 0 0; }
.rest-item .rest-content .card__back .back__circle { margin: -6.2em 0 0 -6em; }
/* ==========================================================================
   Media for html
   ========================================================================== */



@media (max-width : 767px) 

	{
	
	html { font-size: .5625em; }
	body { height: auto !important; }
	.aquarium-body .menu-nav { left: 0; }	
	section { position: relative; }		
	#about { height: 100%; }
	#skrollr-body > section header { width: 100%; }
	.nav-containter { visibility: hidden; display: none; }	
	#restaurant-info .menu-item:first-child a span { display: block; font-size: 1.3em; margin: 1em 0 0; }
	.menu-item a img { height: 11em; }
	#skrollr-body > section {position: relative; }
	.container { width: 36em; margin: 0 auto; }
	.events-list { width: 36em; float: none; margin: 0 auto; }
	.events-item { height: 100%; }
	.events-item .event-text { float: none; width: 100%; }
	.event-text h3 { text-align: center; }
	
	.events-item figure { float: none; width: 36em; }
	figure.card { width: 14em; margin: 0 auto; }
	.card__back .back__circle { margin: -6.5em 0 0 -6em; }
	
	.rest-item {width: 37em; height: 100%; margin: 1em 0 2em; border-bottom: 3px solid #bcdfef; padding: 2em 0; }
	
	.rest-item figure { width: 36em;}
	.rest-item .rest-text { float: none; width: 36em; }
	.rest-text h3 {text-align: center; }
	
	
	.rest-content figure img { display: block; margin: 0 auto; max-width: 100%; }
	
	
	.news-list { width: 36em; float: none; margin: 0 auto; }
	.news-item { height: 100%; }
	.news-item h3 { text-align: center; }
	section header h2 { font-size: 1.5em; line-height: 1.57em; font-weight: normal; }
	section.slider { height: auto !important; } 
	
	.menu-list { width: 36em; }
	.menu-item { float: left; margin: 0 1em;}
	
	.pool-temperature { float: none; width: 36em; margin: 0 2em; }
	
	/* ============================================================	
	 *  NEWS	 
	   ============================================================ */
	html.news-html, body.news-body { font-size: 16px; }  
	section.news { padding: 0.375em 0 2em .3em; width: 24em; }
	.newspage-list { padding: 0; }
	.news-item-leftside { float: none; width: 24em; }
	.news-item-rightside { float: none; width: 24em; }
	.news-item-header { text-align: center; }
	.news-bg { padding-bottom: 2em; }
	.sep_new-content { width: 24em; }
	.sep_new-pict img {width: 22em; }
	/* ============================================================	
	 *  MENU	 
	   ============================================================ */
	  section.menu { padding-bottom: 3em; }
	  .menu-content { width: 24em; }
	  .menu-nav-list { padding: 0; }
	  .menu-content-column1,
	  .menu-content-column2 { width: 24em; float: none; padding: 0; font-size: 14px; }
	  
	  div.category-elem-name { width: 11em; }
	  .category-elem-weight { margin-right: 1em; }
	  .category-table {width: 26em; }
	  
	/*
	 * 
	 *  AQUARIUM
	 * 
	 */
	
	section.aquarium { padding-left:0 ; padding-right: 0;  width: 26em;}
	.octopus-1,
	.octopus-2 { display: none; }
	.category-elem-name { width: 12em; }
	.aquarium-body .menu-nav { left: -1em; }
	.logo-back-to-main { visibility: hidden; display: none; }
	
	body.kids .logo-back-to-main { visibility: hidden: display: none; }
	
		
}

@media (max-width: 361px) {
	html { font-size: .3625em; }
	body { height: auto !important; }
		
	section { position: relative; }	
	#skrollr-body > section {position: relative; }
	.nav-containter { visibility: hidden; display: none; }		
	section .__fotorama img { position: absolute; top: 0px; } 
	
	
	.container { width: 20em; }
	.container > h2 > span { font-size: 0.7em; }
	
	.event-text .tags { font-size: 1.05em; }
	
	.events-list { width: 20em; float: none; margin: 0 auto; }
	.events-item { height: 100%; }
	.events-item .event-text { float: none; width: 100%; }
	.event-text h3 { text-align: center; }
	
	.events-item figure { float: none; width: 20em; }
	figure.card { width: 14em; margin: 0 auto; }
	.rest-item .rest-content .card__back .back__circle { margin: -6.5em 0 0 -6em; }
	
	.rest-item { height: 100%; margin: 1em 0 2em; padding: 2em 0; }
	
	.rest-item figure { width: 20em;}
	.rest-item .rest-text { float: none; width: 20em; }
	.rest-text h3 {text-align: center; }
	
	
	.rest-content figure img { display: block; margin: 0 auto; max-width: 100%; }
	
	
	.news-list { width: 24em; float: none; }
	.news-item { height: 100%; }
	.news-item h3 { text-align: center; }
	section header h2 { font-size: 1em; line-height: 1.57em; font-weight: normal; }
	section.slider { height: auto !important; } 
	
	.menu-list { width: 30em; margin: 0 0 0 -25px;}
	.menu-item { float: left; width:6.5em;  margin: 0 .7em; height: 16em; }
	.menu-item a img{ max-width: 6.333em; height: 6em; }
	
	.pool-temperature { float: none; width: 24em; margin: 0 2em; }
	.pool-temperature .column { font-size: 4em; }
	
	/* ============================================================	
	 *  NEWS	 
	   ============================================================ */
	html.news-html, body.news-body { font-size: 12px; }  
	section.news { padding: 0.375em 0 2em .3em; width: 24em; }
	.newspage-list { padding: 0; }
	.news-item-leftside { float: none; width: 24em; }
	.news-item-rightside { float: none; width: 24em; }
	.news-item-header { text-align: center; }
	.news-bg { padding-bottom: 2em; }
	/* ============================================================	
	 *  MENU	 
	   ============================================================ */
	  html.menu-html, body.menu-body-back { font-size:8px; }
body.menu-body-back article.wrapper { width: 100%; }
	  .menu-body-back .menu-header>h2>span { border-color: #919191; color: #919191; }	
	  ul.menu-nav-list { padding: 0; margin: 0; }
.menu-content { width: 36em; margin: 0 .5em; }
	  .menu-content-column1,
	  .menu-content-column2 { width: 24em; }
	  .menu-content-column1 .category-elem-body,
	  .menu-content-column2 .category-elem-body{ padding: 0; width: 24em; }/*		  
	  
	/* ============================================================	
	 *  AQUARIUM	 
	   ============================================================ */
	  
	html.aquarium-html, body.aquarium-body { font-size: 11px; }
	.menu-nav-list { padding: 0; margin-left: 3em;}
	.menu-header > h2 { font-size: 2.4em; }
	section.aquarium { padding-left:0 ; padding-right: 0;  width: 26em;}
	.octopus-1,
	.octopus-2 { display: none; }
	.category-elem-name { width: 8em; }
	.aquarium-body .menu-nav { left: -1em; }
	.logo-back-to-main { visibility: hidden; display: none;}
	
	/* ============================================================	
	 *  KIDS	 
	   ============================================================ */
	html.kids-html, body.kids-body { font-size: 11px; }	
	html.pool-rules-html, body.pool-rules-body { font-size: 11px; }	
}

@media (max-width: 280px) {
	
	html, body { font-size: 9px; }
	.nav-containter { visibility: hidden; }	
	section { position: relative; }
	.container { width: 24em; margin: 0 auto; }
	.events-list { width: 18em; float: none; margin: 0 auto; }
	.news-list { width: 18em; float: none; margin: 0 auto; }
	section header h2 { font-size: 1.5em; line-height: 1.57em; font-weight: normal; }
	.rest-item figure { width: 18em; margin: 0 4em; max-width: 78%; height: 21em; }
	
	.menu-header > h2 { font-size: 2.2em; }
	html.aquarium-html, body.aquarium-body { font-size: 8px; }
	.menu-nav-list { padding: 0; margin-left: 1em;}
	.aquarium-content-header { font-size: 3em; }
	section.aquarium { padding-left:0 ; padding-right: 0;  width: 26em;}
	.octopus-1,
	.octopus-2 { display: none; }
	.category-elem-name { width: 8em; }
	.aquarium-body .menu-nav { left: -1em; }
	.logo-back-to-main { visibility: hidden; display: none;}
	
	/* ============================================================	
	 *  NEWS	 
	   ============================================================ */
	html.news-html, body.news-body { font-size: 9px; }  	
	.news-item-leftside { float: none; width: 24em; }
	.news-item-rightside { float: none; width: 24em; }
	.news-header h2 { font-size: 2.4em; }
	section.news { padding: 0.375em 0 2em .3em; width: 24em; }
	/* ============================================================	
	 *  MENU	 
	   ============================================================ */
	  html.menu-html, body.menu-body-back { font-size:8px; }
	  .menu-body-back .menu-header>h2>span { border-color: #616161; color: #616161; }	  
	  .menu-content-column1,
	  .menu-content-column2 { width: 24em; float: none; padding: 0; font-size: 10px; }
	/* ============================================================	
	 *  KIDS	 
	   ============================================================ */
	html.kids-html, body.kids-body { font-size: 8px; }	
	html.pool-rules-html, body.pool-rules-body { font-size: 8px; }	
}
@media only screen 
and (min-width : 481px)
and (max-width : 660px)
  {
  	body { height: auto !important; }
		
	section { position: relative; }	
	#skrollr-body > section {position: relative; }
  	#skrollr-body > section {position: relative; }
  	.aquarium-body .menu-nav { left: 0; }
		.logo-back-to-main { visibility: hidden; display: none;}
  }
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px)

  {
  	body { height: auto !important; }
		
	section { position: relative; }	
	#skrollr-body > section {position: relative; }
	    .aquarium-body .menu-nav { left: 0; }
		.logo-back-to-main { visibility: hidden; display: none;}
		.nav-containter, .nav-dark { visibility: hidden; }	
		.anchor { visibility: hidden; }
}
@media only screen 
and (min-width : 768px) 
and (max-width : 1044px)
and (orientation : landscape)
  {
  	body { height: auto !important; }
		
	section { position: relative; }	
	#skrollr-body > section {position: relative; }
	    .aquarium-body .menu-nav { left: 0; }
	    .nav-containter, .nav-dark { visibility: hidden; display: none; }	
	    .anchor { visibility: hidden; }
		.logo-back-to-main { visibility: hidden; display: none;}
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
