html.menu-html, body.menu-body-back {	
	/*height: 100%;*/
	background: url(../img/menu_bg.jpg) 0% 80% no-repeat; /* Добавляем фон */
    background-size: cover;
    background-attachment: fixed;
    font: 16px "ff-meta-web-pro", "futura-pt", sans-serif; padding: 0; margin: 0; color: #252525;
}
body ul { list-style-type: none; }
.wrapper { padding: 3em 0 5em 0; }
/*article.wrapper {height: 100%; }*/
section.menu-navigation {
	/*position: relative;*/
	width: 76.875em;
	margin: 0 auto;
	padding: 2em 0 0 0;
	/*background-color: /*#FFFrgba(255,255,255,0.5);	*/
}
.menu-nav { height: 3.4375em; }
.menu-nav-list { height: 2em; }

.menu-header { padding: 0 0 3em 0; }
.menu-header > h2 { text-align: center; font-size: 2.6em; text-transform: uppercase; padding: 0; margin: 0;}
.menu-header > h2 > span { font-weight: normal; color: #FFF; display: inline-block; border: 3px solid #FFF; padding: 0 0.25em; width: 9.5em; }

.menu-nav-list-item { float: left; /*background: #ffc83d;*/ margin: 0 0.03em; /*padding: .5em 1em; paste this into a*/}
.menu-nav-list-item {
	-moz-transform: skew(-15deg); /* Для Firefox */
    -ms-transform: skew(-15deg); /* Для IE */
    -webkit-transform: skew(-15deg); /* Для Safari, Chrome, iOS */
    -o-transform: skew(-15deg); /* Для Opera */
    transform: skew(-15deg);
}

.menu-nav-list-item a:active {
	height: 1.4em;
	background: #fff;
}
.menu-nav-list-item a:active div{
	top: -1.9em;
	left: - .2em;
	background: #67c1df;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.menu-nav-list-item a:hover {
	height: 1.4em;
	background: #fff;
}

.menu-nav-list-item a:hover div{
	top: -1.9em;
	left: - .2em;
	background: #67c1df;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.menu-nav-list-item a {
	position: relative;
	padding: 0.25em 1em;
	display: block;
	text-decoration: none;
	color: #313131;
	/*border: 1px solid red;*/
	
}

.item1 span,
.item2 span,
.item3 span,
.item4 span{
	position: relative;
	z-index: 100;
}

.item1 div,
.item2 div,
.item3 div,
.item4 div {
	position: absolute; 
	top: 0;
	left: 0;
	height: 1.9em;
	width: 100%;
	/*border: 1px solid white;*/
	background: #ffc83d;
	/*-moz-transform: skew(-7.5deg); /* Для Firefox */
    /*-ms-transform: skew(-7.5deg); /* Для IE */
    /*-webkit-transform: skew(-7.5deg); /* Для Safari, Chrome, iOS */
    /*-o-transform: skew(-7.5deg); /* Для Opera */
    /*transform: skew(-7.5deg);*/
}
.menu-body-bg { /*position: absolute;*/ z-index: 1000; margin: 6,25em 0; background: rgba(255, 255, 255, 0.6); width: 100%; } 
.menu-content { width: 74em; margin: 0 auto; padding: 0 0 1.4em 0; }
.menu-content-column1,
.menu-content-column2 { float: left; width: 34.3125em; padding: 0 0 0 2.6875em; }

.category-header { margin: 0 0 0 .4375em; padding: 0 0 .75em .4375em; border-bottom: 9px solid #ffc83d; font-weight: 400; color: #313131/*new*/; }

.category-elem-item { height: auto; margin: 0 0 1.625em 0; line-height: 1.375em; }
	.category-elem-name { width: 20em; height: 100%; float: left; font: .875em; color: #313131/*#5d5d5d*/; line-height: 1;}
	.category-elem-price { width: 4.525em; height: 100%; float: left; font-size: 1.125em; color: #313131/*#636363*/; text-align: center; }
	.category-elem-weight { width: 6.875em; height: 100%; float: left; margin: 0 0.875em 0 0; background: #ffc83d; font-size: .95em; text-align: center; line-height: 1.3; -webkit-border-radius: 7px; moz-border-radius: 7px; border-radius: 7px;} 
		.elem-weight-value { font-size: 0.83em; font-weight: 500; line-height: 1.95;}
.category-elem-header { margin: 2.125em 0; font-weight: 300; font-family:Garamond, Georgia, serif; text-align: center; color: /*#6d6d6d*/#313131; }
.category-elem-body { margin: 1em 0; padding: 0 .875em; }



footer { background: #333; height: 6em; position: fixed; bottom: 0; color: #fff; line-height: 6em; font-size: 1.1em; width: 100%; }
footer .copy { float: left; width: 50%; }
footer .dev { float: right; width: 50%; text-align: center; }
footer a { color: #bcdfef; }

.clear { clear: both; }
