html.aquarium-html, body.aquarium-body {	
	/*height: 100%;*/
	background: url(../img/aquarium_bg.jpg) 0% 80% no-repeat; /* Добавляем фон */
    background-size: cover;
    background-attachment: fixed;
    font: 16px "ff-meta-web-pro", "futura-pt", sans-serif; padding: 0; margin: 0; color: #252525;
}
section.aquarium { position: relative; z-index: 1001; width: 33.125em; margin: 0 auto; padding: 6.25em 3.125em; /*background-color: rgba(255, 255, 255, 0.4); */}

/*.aquarium-body { position: relative; }*/
.aquarium_bg { /*position: absolute;*/ z-index: 1000; margin: 6,25em 0; background: rgba(255, 255, 255, 0.5); width: 100%; }
	.octopus-1{ position: absolute; bottom: 15em; left: -20em; width: 20em; }
	.octopus-2{ position: absolute; top: 8em; right: -15em; width: 15em; }
		.octopus-1 img,
		.octopus-2 img { width: 100%; }
.aquarium { position: relative; }
	.menu-nav { position: absolute; top: -1em; left: -18em;}
.aquarium-content-header { font-size: 2.443125em; color: #000; font-weight: 400; line-height: 1em; }
	.bold { font-weight: 700; }

/*
 * Parallax for aquarium
 * 
 */
.parallax-layer {	
    position: absolute;
}
 
/*
 *  kids css
 * 
 */

html.kids-html, body.kids-body {	
	/*height: 100%;*/
	background: url(../img/kids.jpg) 0% 80% no-repeat; /* Добавляем фон */
    background-size: cover;
    background-attachment: fixed;
    font: 16px "ff-meta-web-pro", "futura-pt", sans-serif; padding: 0; margin: 0; color: #252525;
}

.kids-content-header { margin: 0 0 .4em 0; padding: 0 0 0.5em 0; font-size: 2.143125em; color: #000; font-weight: 400; line-height: 1em; border-bottom: 9px solid #ffc83d; }
.menu-header > h2 > span { border: 3px solid #FFF; color: #FFF; }
.menu-header > h2 > .kids-header-span { border: 3px solid #000; color: #000; }
.aquarium-content p { margin: 0; }
.parents-information-list { padding: 0 0 0 .5em; }
.parents-information-list > li { margin: 0 0 1em 0; }
.parents-information-list > li:before{
	    content: "\2013";
	}
.parents-information { font-weight: 400; }

.logo-back-to-main{ position: absolute; top: 20px; left: 20px; width: 130px; height: 162px; }